@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mitr:wght@200;300;400;500;600;700&display=swap');
html{
    font-size: 14px;
}
body{
    font-family: "Mitr", sans-serif;
    background-color: rgb(165, 211, 196)06, 188);
}

a  {
    text-decoration: none;
}

.carousel-inner img{
    object-fit: cover;
    object-position: top;
    height: 85vh;
    overflow: hidden;
}
.float-start{
    font-weight: bold;
    color: red;
}
#new_price {
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 2px;
}
.pic-box{
    background-color: orangered;
    color: white;
    font-weight: bold;
}